


    .ant-btn-primary{
   background-color:#1677ff
}
/* .ant-pro-table-list-toolbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

*/
.ant-switch {
    background: rgba(0, 0, 0, 0.25);
} 
/* 
.ant-pro-query-filter {
    padding: 24px;
}
.ant-pro-card-body {
    display: block;
    box-sizing: border-box;
    height: 100%;
    padding-inline: 24px;
    padding-block: 16px;
}
.ant-pro-table-list-toolbar-container {
    display: flex;
    justify-content: space-between;
    padding-block: 16px;
    padding-inline: 0;
}
.ant-pro-table-list-toolbar-right {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 8px;
} */