@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-login{
  background-image: url(../assets/images/bg.jpg);
  background-size: cover;
  background-position: center center;
}
.qm-login-shadow{
  box-shadow: 8px 8px 26px rgba(3,48,214,0.4);
}
.qm-border-inline-none{
  border-inline-end: none !important
}
.qm-row-delete td{
 opacity: 0.6
  
}
.qm-row-delete .ant-table-cell-fix-left,.qm-row-delete .ant-table-cell-fix-right {
opacity: 1
}
.dark-bg{
  background-color: #001529;
}
.ant-btn-primary{
   background-color:#1677ff
}

.ant-switch {
    background: rgba(0, 0, 0, 0.25);
}
/* button, [type='button'], [type='reset'], [type='submit']{
  background-color:#1677ff
} */
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
